html, body {
  background: linear-gradient(-50deg, #9bbfbf, #ffffff) fixed;
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
  clear: both;
  }
  .lijst {

  }
h1 {
  text-align: left;
  text-shadow: 2px 2px 10px black;
}
h2 {
  text-align: center;
}
p {
  text-align: justify;
  background-image: url("https://media.istockphoto.com/photos/colorful-abstract-background-with-rainbow-colors-picture-id508349262?k=6&m=508349262&s=612x612&w=0&h=xpaYuPu62ZL-w7XsviMtKlQtHQBdmzSm18ht_ThIrRs=");
  display: table;
}
a:hover {
color: black;
}
